<article>
  <form [formGroup]="formRegister">
    <section>
      <div class="name">
        <input type="text"
               placeholder="Name"
               formControlName="name">
      </div>

      <div class="email">
        <input type="text"
               placeholder="Email"
               formControlName="email">
      </div>

      <div class="password">
        <input type="password"
               placeholder="Password"
               formControlName="password">
      </div>

      <div class="password">

        <input type="password"
               placeholder="Confirm Password"
               formControlName="confirmPassword">
      </div>
    </section>

    <section>
      <button class="button"
              type="button"
              (click)="createCompany()">
        Register
      </button>
      <button class="button"
              type="button"
              routerLink="/secure/login">
        Cancel
      </button>
    </section>
  </form>
</article>
