<article>
  <header>
    <button class="button"
            type="button"
            routerLink="/secure/login">
      Login
    </button>
    <button class="button"
            type="button"
            routerLink="/secure/sign-up">
      Register
    </button>
  </header>
  <section>
    <router-outlet></router-outlet>
  </section>
</article>
