<article>
  <form [formGroup]="formLogin">
    <section>
      <div class="ui-inputgroup">
    <span class="ui-inputgroup-addon">
      <i class="fa fa-user"></i>
    </span>

        <input type="text"
               pInputText
               placeholder="Username">
      </div>

      <div class="ui-inputgroup">
    <span class="ui-inputgroup-addon">
      <i class="fa fa-user"></i>
    </span>

        <input type="password"
               pPassword
               placeholder="Password">
      </div>
    </section>

    <section>
      <button class="button"
              type="button"
              (click)="login()">
        Login
      </button>
    </section>
  </form>
</article>
