<article>
  <header>
    <input [(ngModel)]="searchCriteria.searchCriteria"
           (ngModelChange)="searchList()"
           type="text">
  </header>

  <section class="contact-list"
           style="overflow-y: auto; height: 100px"
           infinite-scroll
           infiniteScrollDistance="10"
           [scrollWindow]="false"
           (scrolled)="onScroll()">
    <app-contact-item *ngFor="let contact of contactList"
                      [contactItem]="contact">
    </app-contact-item>
  </section>
</article>


